

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>welcome <%=@user.email%>!</p>

    <form action="/sessions/destroy" method="post">
      <input type="submit" value="log out">
    </form>

    <form action="/listings/new" method="">
      <input type="submit" value="create listing">
    </form>

    <div id="list">

        <% @listings.each do |listing| %>
          <ul>
            <li><%= listing.name %></li>
            <li><%= listing.price %></li>
            <li><%= listing.description %></li>
          </ul>

            <form action="/booking/new" method="">
              <input type="date" placeholder="start date">
              <input type="date" placeholder="end date">
              <input value="<%= listing.id %>" style ="display:none">
              <input type="submit" value="book">
            </form>

        <% end %>

    </div>
  </body>
</html>
